---
- name: Check if reboot is required
  stat:
    path: /var/run/reboot-required
  register: reboot_required

- name: Reboot system if required
  reboot:
    reboot_timeout: 600
    test_command: uptime
  when: reboot_required.stat.exists
