---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Upgrade system
  apt:
    upgrade: dist

- name: Install base packages
  apt:
    name:
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
      - ufw
      - fail2ban
      - unattended-upgrades
    state: present

- name: Enable automatic security updates
  dpkg_selections:
    name: unattended-upgrades
    selection: install

- name: Enable UFW
  ufw:
    state: enabled
    policy: deny

- name: Allow SSH
  ufw:
    rule: allow
    name: OpenSSH

- name: Allow HTTP/HTTPS
  ufw:
    rule: allow
    port: "{{ item }}"
  loop:
    - "80"
    - "443"

- name: Enable fail2ban
  service:
    name: fail2ban
    state: started
    enabled: yes
